# ===============================
# Python cache files
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*$py.class

# ===============================
# Virtual Environment
# ===============================
venv/
env/
ENV/
.venv/

# ===============================
# Model Files (Very Important)
# ===============================
*.h5
*.hdf5
*.keras

# ===============================
# Dataset (Large files)
# ===============================
Dataset/
    test/
    train/

# ===============================
# Upload Folder
# ===============================
uploads/

# ===============================
# Logs
# ===============================
*.log

# ===============================
# Jupyter Notebook Checkpoints
# ===============================
.ipynb_checkpoints/

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Environment Variables
# ===============================
.env
